<div>
  <br>
  <mat-card>
    <section class="mat-typography">
        <h3>Alteraçãp de Processo</h3>
    </section>
    <mat-divider></mat-divider>
    <br>
    <form [formGroup]="updateForm" class="edit-form">
      <mat-form-field class="field-full-width">
        <input placeholder="Número Processo" matInput formControlName="numeroProcesso" #numeroProcesso>
      </mat-form-field> <br>
      <mat-form-field class="field-full-width">
        <input placeholder="Reclamante" matInput formControlName="reclamante" #reclamante>
      </mat-form-field> <br>
      <mat-form-field class="field-full-width">
        <input placeholder="Companhia" matInput formControlName="company" #company>
      </mat-form-field> <br>
      <mat-divider></mat-divider>
      <br><br>
      <button mat-raised-button color="accent" routerLink="/list">Back</button>&nbsp;
      <button type="submit" (click)="updateProcesso(numeroProcesso.value, reclamante.value, company.value)" [disabled]="updateForm.pristine || updateForm.invalid" mat-raised-button color="primary">Save</button>
    </form>
  </mat-card>
</div>